<app-menu-list></app-menu-list>

<!-- <p>
  <mat-toolbar>
    <span>My Restaurant</span>
  </mat-toolbar>
</p>

<p>
  <mat-toolbar color="primary">
    <span>Menu List</span>
    <span class="example-spacer"></span>

    <mat-chip-listbox aria-label="Menu Category">
      <mat-chip-option
        color="accent"
        (click)="getData({ pageIndex: page, pageSize: size })"
        selected
        >All</mat-chip-option
      >
      <ng-container *ngFor="let item of categories">
        <mat-chip-option
          color="accent"
          (click)="getData({ pageIndex: page, pageSize: size }, item.id)"
          >{{ item.category | titlecase }}{{ item.id }}</mat-chip-option
        >
      </ng-container>
    </mat-chip-listbox>
  </mat-toolbar>
</p>

<p>
  <mat-grid-list cols="12" rowHeight="1:8.5">
    <mat-grid-tile style="background-color: aliceblue" colspan="3"
      >Taste the difference
    </mat-grid-tile>
    <mat-grid-tile style="background-color: rgb(238, 231, 231)" colspan="9">
      <div fxFill fxLayout="column" fxLayoutAlign="space-between">
        <div fxLayout="row wrap" style="display: flex; flex-wrap: wrap">
          <ng-container *ngFor="let image of data">
            <span style="margin: 15px 22px">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Momos {{ image.id }}</mat-card-title>
                  <mat-card-subtitle>Price: 120</mat-card-subtitle>
                  <mat-card-subtitle>{{
                    getCategoryName(image.categoryId)
                  }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <img mat-card-image src="../assets/download.jpeg" />
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Buy</button>
                </mat-card-actions>
              </mat-card>
            </span>
          </ng-container>
        </div>

        <mat-paginator
          [length]="data3.length"
          [pageSize]="size"
          [pageIndex]="page"
          (page)="getData($event)"
        >
        </mat-paginator>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</p> -->
